 .top-container {
	 
 	 padding: 5%;
     
}
.row-a {
	
	height:10%;
	width: 100%;
	 
}
.row-b {
	
	height:10%;
	width: 100%;
     
}

.row-c{
  height:20%;
  
   
}

.row-d{
     
	height:80%;
	width: 100%;
	  
    
}
.sous-row-d{
	padding-top: 4px;
}

.row-e{
    margin-top: 5px;

     
}
 
.logo {
	
	width: 5%;
	height: 100%;
}
.res-soc-link{
    padding-left:900px;
}
.res-soc-link1{
	margin-left: 10px;
}
.nav.navbar-nav
{
	height: 100%;
	font-size: 25px;
	 
}
.navbar-nav{
		font-size: 25px;
		padding-bottom: 0px;
}

.nav-item {
	padding-left: 70px;
	 
}
.nav-link{
	font-size: 23px;
}
.ml{
	padding-top: 5px;
}


 
@keyframes glisse{
	0%{
		transform: translateX(30%);
	}
	15%{
		transform: translateX(30%);
	}

	25%{
		transform: translateX(0%);
	}
	40%{
		transform: translateX(0%);
	}
	50%{
		transform: translateX(-15%);
	}
	65%{
		transform: translateX(-15%);
	}
	75%{
		transform: translateX(-30%);
	}
	90%{
		transform: translateX(-30%);
	}
	100%{
		transform: translateX(30%);
	}
}
p {
	font-size: 15px;
}
.type-tr{
	margin-left: 30px;
}
.top-droit {
	margin-top:10px;
	margin-left:10px;
	margin-right:10px;
}
 
.general-row{
	width: 100%;

}
.a2{
	width: 70%;
	margin-left: 50px;
	padding:20px;
}
.articles-site{
	padding:20px; 
}
.article-site{
	 margin-top: 50px;
	 border-radius: 10px;
	 box-shadow: 0px 0px 3px 0px #000;

}

.form-container {
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 2px 0px #000;
}
.titre-article{
	padding: 10px;
}
.texte-article{
	font-size: 15px;
padding-top:  10px;
padding-left: 10px;
padding-right: 10px;
}
.texte-article1{
padding-top:  10px;
padding-left: 10px;
padding-right: 10px;
}
.texte-article2{
padding-top:  10px;
padding-left: 10px;
padding-right: 10px;
}
.texte-article3{
padding-top:  10px;
padding-left: 10px;
padding-right: 10px;
}
.btn-cnx{
	padding: 10px;
}
.btn-validation{
	padding: 10px;
}
/* Footer */
 
section {
    padding: 10px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
 
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
 
#footer ul.quick-links li a{
	color:#ffffff;
}
 
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

.footer-big-text{
	font-size: 60px;
}
.footer-small-text{
	font-size: 15px;
	padding-left: 200px;
}
.footer-text{
	margin-top: 100px;
	margin-left: 60px;

}

 
.form-recrutement{
	margin-left:  200px;
}
$('#fileuploder-recrutement').fileupload({
  maxNumberOfFiles: 6
});
 
.article-traduction{
	  padding: 20px;
	  font-size: 50px;
}
.tr{
	 margin: 25px;
	 border-radius: 10px;
	 box-shadow: 0px 0px 13px 0px #000;

}
.img-traduction{
	 height: 25px;
	 width: 30px;
	 margin :20px;
	 padding: 10px;
} 
.tr2{
	 margin: 25px;
	 border-radius: 10px;
	 box-shadow: 0px 0px 13px 0px #000;
}
 
.texte-blog{
	font-size: 15px;
}
.img-blog-berlin{
	margin-left: 10px;
}
#img-blog-etoile{

 }
 .card-long {
 	margin: 5px;
 }
 .card-body{
 	height: 150px;
 }
 .img-blog-berlin{
 	width: 500px;
 	padding: 5px;
 	margin: 10px;
 }
 .cotaier-berlin{
 	margin-left: 10px;
 	margin-right:  10px;
 	padding-top: 5px;
 } 
 .valider-recrutement{
 	padding-bottom: 15px;
 	margin-bottom: 15px;
 }